@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <h1>🎰 Cassino da tchuuuurma!</h1>
    <p id="saldo">💰 Saldo: R$10</p>
    <canvas id="slotCanvas" width="300" height="150"></canvas>
    <br>
    <button id="spinButton">Girar 🎲</button>
    <p id="mensagem" style="color: black;position: absolute;left: 21%;top: 32%;z-index: 9;">
        Sou eu caraio
    </p>
    <img src="/media/img/meu-Genio-one-official.png" style="position: fixed;left: 5%;top: 24%;" />

    <script src="~/js/cassino-da-tchurma.js"></script>
</div>
